
.section--footer {

  padding: 9.6rem 0;

}

.cta-text-box > p {
color: black;
}

.cta-text-box > H3 {
  color: black;
  margin-bottom: 1.2rem;
  }


/* CTA */

.cta-container {
  /* padding: 4.8rem 6.4rem; */
  display: flex;
  justify-content: center;
  max-width: 140rem;
}

.cta-banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0px 4px 4px rgba(250, 184, 116, 0.15);
  border-radius: 0.8rem;
  background-color: rgba(250, 184, 116, 1);
  overflow: hidden;
  color: black;
  justify-items: center;
  align-items: center;
  z-index: 2;
  padding: 8.2rem;
}

.btn-local-box {
  display: inline-block;

  font-style: bold;
  font-weight: 900;
  font-size: 2.8rem;
  text-decoration: none;
  border-radius: 0.8rem;
  color: #ffff;
  background-color: #141a31;
  border: none;
  transition: all 0.3s;

  padding: 2.2rem 3.2rem;
}

.btn-local-box H3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 2;
  padding-bottom: 1.6rem;
}
.btn-local-box p {
  font-family: "Lato";
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.4;
}


/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
  .cta-container {
    width: 80%;
    margin: 0 auto;
  }
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
  .cta-banner {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6.4rem 4rem;
  }

  .cta-text-box{
    width: 90%;
  }
}

/**************************/
/* BELOW 850px (tablets) */
/**************************/
@media (max-width: 53em) {


}

/**************************/
/* BELOW 750px */
/**************************/
@media (max-width: 47em) {
}

/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 30em) {
  .cta-banner {
    padding: 6.4rem 2.6rem;
  }

}
