
.section--footer {

  padding: 9.6rem 0;

}


/* CTA */

.cta-container {
  /* padding: 4.8rem 6.4rem; */
  display: flex;
  justify-content: center;
  max-width: 140rem;
}

.cta-banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0px 4px 4px rgba(250, 184, 116, 0.15);
  border-radius: 0.8rem;
  background-color: rgba(250, 184, 116, 1);
  overflow: hidden;
  color: black;
  justify-items: center;
  align-items: center;
  z-index: 2;
  padding: 2.4rem;
}

.btn-local-box {
  display: inline-block;

  font-style: bold;
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 3.1rem;
  text-decoration: none;
  border-radius: 0.8rem;
  color: #ffff;
  background-color: #141a31;
  border: none;
  transition: all 0.3s;

  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.btn-local-box H3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 2;
  padding-bottom: 1.6rem;
}
.btn-local-box p {
  font-family: "Lato";
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.4;
}
