.section--partners {
    padding: 3.2rem 0 9.6rem 0;
}

.container--partners {
    max-width: 130rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.featured-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.4rem;
}

.partners-logos-box {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3.8rem;
    margin: 1rem auto 0 auto;
}

.partners-logos-box img {
    align-self: center;
}

.accor-hotel {
    margin-bottom: 1rem;
}

/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
    .container--partners {
        max-width: 120rem;
        padding: 0 5rem;
        margin: 0 auto;
    }

    .partners-logos-box > img {
        width: 16%;
    }
}

/**************************/
/* BELOW 850px (tablets) */
/**************************/
@media (max-width: 53em) {
    .partners-logos-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1.6rem;
    }
    .partners-logos-box > img {
        width: 100%;
    }
}

/**************************/
/* BELOW 750px */
/**************************/
@media (max-width: 47em) {
}

/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 30em) {
}
